/*THIS MAKES EVERYTHING NONSELECTABLE*/
body {
background: #002733;

   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

#map {
margin-left: -7%;
width: 100%;
}





#leftillustration0 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	left: -30.2%;
	width: 47.42%;
}
#leftillustration0 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 18.55%;
	left: -1.36%;
}
#leftillustration0 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 23.82%;
	left: -8%;
}



#rightillustration0 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	right: -5.23%;
	width: 42.795%;
}
#rightillustration0 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 46.265%;
	right: -9.03%;
}
#rightillustration0 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 18.49%;
	right: 2%;
}









#leftillustration img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	left: 100%;
	width: 29.3229%;
}
#leftillustration img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	left: -4.166%;
	left: 95.834%;
	width: 41.875%;
}
#leftillustration img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	left: 100%;
	width: 37.5%;
}
#leftillustration img:nth-child(4) {
	position: fixed;
	bottom: 25px;
	left: 110%;
	width: 11.3%;
}

#rightillustration img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	right: -105%;
	width: 31.718%;
}
#rightillustration img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	right: -105%;
	width: 22.76%;
}
#rightillustration img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	right: -105%;
	width: 39.27%;
}
#rightillustration img:nth-child(4) {
	position: fixed;
	bottom: 0px;
	right: -105%;
	width: 32.5%;
}












#rightillustration2 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 45.12%;
	right: -210.6%;
}
#rightillustration2 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 29.69%;
	right: -197.52%;
}
#rightillustration2 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 24%;
	right: -208%;
}


#leftillustration2 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 30.98%;
	left: 200%;
}
#leftillustration2 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 30.55%;
	left: 200%;
}
#leftillustration2 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 30%;
	left: 205.3%;
}














#leftillustration3 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 26.17%;
	left: 298.05%;
}
#leftillustration3 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 32%;
	left: 300.5%;
}
#leftillustration3 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 23.32%;
	left: 302%;
}

#rightillustration3 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 26.68%;
	right: -299%;
}
#rightillustration3 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 31.6%;
	right: -296.5625%;
}
#rightillustration3 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 31.2%;
	right: -298.75%;
}




#leftillustration4 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 41.32%;
	left: -6.65%;
	left: 393.35%;
}
#leftillustration4 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 20.664%;
	left: .35%;
	left: 400.35%;
}
#leftillustration4 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 29.14%;
	left: 7.65%;
	left: 407.65%;
}

#rightillustration4 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 27.35%;
	right: -4.8%;
	right: -404.8%;
}
#rightillustration4 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 23.28%;
	right: 11.17%;
	right: -388.83%;
}
#rightillustration4 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 19.14%;
	right: -1.4%;
	right: -401.4%;
}







#leftillustration5 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 35.35%;
	left: 0%;
	left: 500%;
}
#leftillustration5 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 24.6%;
	width: 22%;
	left: 0%;
	left: 500%;
}
#leftillustration5 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 30.97%;
	left: 5.85%;
		left: 505.85%;
}

#rightillustration5 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 31.6%;
	right: -7.5%;
		right: -507.5%;
}
#rightillustration5 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 33.2%;
	right: 3.4%;
		right: -496.6%;
}
#rightillustration5 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 23.16%;
	right: 1%;
		right: -499%;
}











#leftillustration6 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 29.37%;
	left: 0%;
		left: 600%;
}
#leftillustration6 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 25.23%;
	left: 4%;
		left: 604%;
}
#leftillustration6 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 25.5%;
	left: 17.42%;
		left: 617.42%;
}

#rightillustration6 img:nth-child(1) {
	position: fixed;
	bottom: 0px;
	width: 34.25%;
	right: -7.1%;
		right: -607.1%;
}
#rightillustration6 img:nth-child(2) {
	position: fixed;
	bottom: 0px;
	width: 29.37%;
	right: 2.3%;
		right: -597.7%;
}
#rightillustration6 img:nth-child(3) {
	position: fixed;
	bottom: 0px;
	width: 21.64%;
	right: 0%;
		right: -600%;
}















#frontcontents {
height: 20px;
width: 65%;
position: fixed;	
left: 17.5%;
left: 21%;

height: 300px;
}


#frontcontents .bigquestion {
color: #BCE3DF;
font-family: "futura_ltcondensedbold";
font-size: 7em;
line-height: 1em;

}

#canvas5 {
margin-bottom: 20px;	
}
#introtext {
	margin-right: 50px;
	float:left;
	margin-top: 30px;
width: 290px;
background: #ECDFD0;
font-family: "futura_ltbook";	
padding: 30px;
padding-bottom: 25px;
}


#resultskey0 {
	font-family: "futura_ltbold";
	margin-bottom: 5px;
}
#resultskeybuttons0 div {
width: 35px;
height: 35px;
margin-right: 15px;
float: left;
}
#resultskeybuttons0 div:nth-child(1) {
background: #002733;
}
#resultskeybuttons0 div:nth-child(2) {
background: #17888D;
}
#resultskeybuttons0 div:nth-child(3) {
background: #F4A844;
}


#resultskeybuttons0 {
margin-bottom: 55px;	
}
#surroundsallkey0 {
margin-top: -40px;	
}
#resultskeybuttons0 div:hover {
opacity: .25;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}
#resultsbuttonsubheads0 {
margin-top: -10px;	
}
#resultsbuttonsubheads0 div {
		font-family: "futura_ltbook";
	display: none;
	color: #002733;
}



#introtext p {
padding-top: 10px;	
}



#opennumber {
position: relative;
top: -180px;
color: #17888D;
font-size: 3.75em;
font-family: "futura_ltbold";	
width: 50%;
margin-left: 25%;
text-align: center;
-webkit-animation: fadein 1s;
animation: fadein 1s;
letter-spacing: -.125em;
}



#thankyoulist {
	float: left;
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 2em;
margin-bottom: 25px;	
margin-top: 30px;
}

.listitem {
	margin-top: 30px;
font-size: .75em;	
}

.whatgave {
font-family: "futura_ltbook";
}

.bold {
font-family: "futura_ltbold";
}



#starticon {
width: 16%;
float: left;
margin-right: 3%;
-webkit-border-radius: 20px;
background: #D7C4AE;	
background: #EADDCD;
background: #17888D;
text-align: center;
font-family: "futura_ltbold";
color: #002733;
padding-top: 40px;
padding-bottom: 40px;
position: fixed;
left: 42%;
bottom: 5%;
font-size: 2em;
-webkit-transition: background .25s;
transition: background .25s;
-webkit-animation: buttonflash 1.25s infinite ease-in-out;
animation: buttonflash 1.25s infinite ease-in-out;

}

#starticon:hover {
background: #BCE3DF;
cursor: pointer;

}


@-webkit-keyframes buttonflash
{
0% {background: #17888D;}
50% {background: #BCE3DF;}
100% {background: #17888D;}
}






#buttonretake {
width: 16%;
float: left;
margin-right: 3%;
-webkit-border-radius: 20px;
background: #D7C4AE;	
background: #EADDCD;
background: #17888D;
text-align: center;
font-family: "futura_ltbold";
color: #002733;
padding-top: 40px;
padding-bottom: 40px;
position: fixed;
left: 42%;
bottom: 5%;
font-size: 2em;
-webkit-transition: background .25s;
transition: background .25s;
	-webkit-animation: buttonflash 1.25s infinite ease-in-out;
	animation: buttonflash 1.25s infinite ease-in-out;

}



#buttonretake:hover {
background: #BCE3DF;
cursor: pointer;

}







#page1contents {
position: fixed;
left: 22.425%;
width: 55.15%;
}

.bigquestion {
color: #BCE3DF;
font-family: "futura_ltcondensedbold";
font-size: 4.5em;
line-height: 1em;

}

.subhead {
color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: .5em;
margin-bottom: 25px;	
}

input[type=text] {
    padding: 10px;
	width: 5em;
    background: #17888D;
    margin: 0 0 10px 0;
	border: 0px;
	font-family: "futura_ltbold";
font-size: .75em;
color: #002733;

}

input[type=text]:focus {
background: #BCE3DF;
box-shadow: 0px 0px 0px #BCE3DF;

-webkit-transition: all .5s;
transition: all .5s;
}

#page1contents .subhead {
margin-top: .25em;	
}

#citystate, #citystate p {
color: #BCE3DF;
display: inline;
}

#page1contents a {
text-decoration: none;
color: #BCE3DF;	
-webkit-transition: all .25s;
}

a {
opacity: .25;	
}

.fullopacity  {
opacity : 1;	
}







#page2contents {
height: 20px;
width: 49%;
position: fixed;	
left: 25.5%;
}
#page2contents .subhead {
margin-top: 50px;	
}
.page2icons {
	width: 21.25%;
	float: left;
	text-align: center;
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 1.125em;
margin-right: 5%;
-webkit-transition: opacity .25s;
transition: opacity .25s;

}
#page2iconright {
margin-right: 0%;
clear: right;	
}
.page2icons p {
margin-top: 20px;	
}
.page2icons:hover {
opacity: .375;
cursor: pointer;
}

.page2iconsopacity {
opacity: .375;	
}

#withthismany {
	margin-left: 16%;
width: 50%;
float: left;
}
#withthismany p {
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 2em;
margin-top: 25px;
margin-bottom: 15px;	
}

#bedroomform {
font-family: "futura_ltcondensedbold";
font-size: 4.5em;
line-height: 1em;
text-align: right;
width: 1em;
background: #EADDCD;
color: #17888D;
padding: 20px;
border: 0;
    -webkit-border-radius: 20px;
    border-radius: 20px; 
	outline: none;
	height: 1em;
	float: left;
	margin-right: 1.25%;
}


#upanddownbuttons {
	margin-top: 1em;
	float: left;
margin-right: 1.875%;
}


#buttonup {
margin-bottom: .75em;
font-family: 'icomoon';
font-size: 3.25em;
color: #16888D;
display: inline-block;
}

#buttondown {
font-family: 'icomoon';
font-size: 3.25em;	
color: #16888D;
}

#buttonup:hover {
-webkit-transition: color .25s;
cursor: pointer;
color: #BDE3E0;
}

#buttondown:hover {
-webkit-transition: color .25s;	
cursor: pointer;
color: #BDE3E0;
}
#withthismany #bedrooms {
margin-top: 1.5em;
}






#withthismanypeople {
	margin-left: -10%;
width: 30%;
float: left;
}
#withthismanypeople p {
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 2em;
margin-top: 25px;
margin-bottom: 15px;	
}

#peopleform {
font-family: "futura_ltcondensedbold";
font-size: 4.5em;
line-height: 1em;
text-align: right;
width: 1em;
background: #EADDCD;
color: #17888D;
padding: 20px;
border: 0;
    -webkit-border-radius: 20px;
    border-radius: 20px; 
	outline: none;
	height: 1em;
	float: left;
	margin-right: 2%;
}


#upanddownbuttonspeople {
	margin-top: 1em;
	float: left;
margin-right: 3.12%;
}


#buttonuppeople {
margin-bottom: .75em;
font-family: 'icomoon';
font-size: 3.25em;
color: #16888D;
display: inline-block;
}

#buttondownpeople {
font-family: 'icomoon';
font-size: 3.25em;	
color: #16888D;
}

#buttonuppeople:hover {
-webkit-transition: color .25s;
cursor: pointer;
color: #BDE3E0;
}

#buttondownpeople:hover {
-webkit-transition: color .25s;	
cursor: pointer;
color: #BDE3E0;
}



#withthismanypeople #people {
margin-top: 1.65em;
line-height: .75em;	

}

#people {
line-height: .5em;	
}

#includingme, #includingme:hover {
	text-decoration: none;
font-size: .55em;	
	color: #17888D;
opacity: 1;
}







#page3contents {
width: 37.86%;
position: fixed;	
left: 30.57%;
}
#page3contents .bigquestion {
margin-bottom: 40px;	
}
.page3icons div:nth-child(1), .page3icons div:nth-child(2), .page3icons div:nth-child(3) {
width: 31.33%;
height: 80px;
float: left;
margin-right: 3%;
-webkit-border-radius: 20px;
}


.page3icons div:nth-child(3) {
margin-right: 0%;	
}


.page3icons div {
background: #D7C4AE;	
background: #EADDCD;
-webkit-transition: opacity .25s;
transition: opacity .25s;
margin-bottom: 40px;
text-align: center;
font-family: "futura_ltbold";
color: #002733;
}

.page3icons div:hover {
opacity: .25;
cursor: pointer;
}

.page3questions {
	color: #17888D;
font-size: 1.25em;
font-family: "futura_ltbold";	
width: 100%;
margin-bottom: 15px;
}

.page3icons p {
margin-top: 29px;	
}









#page4contents {
height: 20px;
width: 49%;
position: fixed;	
left: 25.5%;
}
#page4contents .subhead {
margin-top: 50px;	
}
.page4icons {
	width: 16%;
	float: left;
	text-align: center;
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 1.125em;
margin-right: 5%;
-webkit-transition: opacity .25s;
transition: opacity .25s;

}
#page4iconright {
margin-right: 0%;
clear: right;
margin-bottom: 30px;	
}
.page4icons p {
margin-top: 20px;	
}
.page4icons:hover {
opacity: .375;
cursor: pointer;
}

.page4iconsopacity {
opacity: .375;	
}

#page4Idrive {
width: 75%;
margin-left: 17.5%;	
margin-top: 50px;
}

.page4question {
	color: #17888D;
font-size: 1.25em;
font-family: "futura_ltbold";	
width: 100%;
margin-bottom: 15px;
}
.page4questionicons div:nth-child(1), .page4questionicons div:nth-child(2), .page4questionicons div:nth-child(3) {
width: 31.33%;
height: 80px;
float: left;
margin-right: 3%;
-webkit-border-radius: 20px;
}

.page4questionicons div:nth-child(3) {
margin-right: 0%;	
}


.page4questionicons div {
background: #D7C4AE;	
background: #EADDCD;
-webkit-transition: opacity .25s;
transition: opacity .25s;
margin-bottom: 40px;
text-align: center;
font-family: "futura_ltbold";
color: #002733;
}

.page4questionicons div:hover {
opacity: .25;
cursor: pointer;
}

.page4questionicons p {
margin-top: 29px;	
}


















#page5contents {
height: 20px;
width: 40%;
position: fixed;	
left: 30%;
}
#page5contents .subhead {
margin-top: 50px;	
}
.page5icons {
	width: 45%;
	float: left;
	text-align: center;
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 1.125em;
margin-right: 10%;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}
#page5rightside {
margin-right: 0px;	
}



.page5icons .farbackclouds {
-webkit-border-radius: 100%;
border-radius: 100%;
background-image:url(../img/Clouds0.png);
background-size:100%;
  background-position: 0px;
  
  -webkit-animation: cloudmove 800s linear infinite;
animation: cloudmove 800s linear infinite;
}

.page5icons:nth-child(3) .farbackclouds {
  -webkit-animation: cloudmove 400s linear infinite;
animation: cloudmove 400s linear infinite;
}


.page5icons .closeforwardclouds {
-webkit-border-radius: 100%;
border-radius: 100%;
background-image:url(../img/Clouds1.png);
background-size:100%;
  background-position: 0px;
  
  -webkit-animation: cloudmove 600s linear infinite;
animation: cloudmove 600s linear infinite;
}
.page5icons:nth-child(3) .closeforwardclouds {
  -webkit-animation: cloudmove 300s linear infinite;
animation: cloudmove 300s linear infinite;
}

.airplane {
-webkit-border-radius: 100%;
border-radius: 100%;

}

@-webkit-keyframes cloudmove
{
from {background-position: 0px;}
to {background-position: -99999px;}
}

@keyframes cloudmove
{
from {background-position: 0px;}
to {background-position: -99999px;}
}





#airplaneleft, #airplaneright {
width: 110%;
float: left;
margin-top: 25px;
}
#airplaneleft p, #airplaneright p {
	color: #17888D;
line-height: 1em;
font-family: "futura_ltbold";
font-size: 1.25em;
margin-top: 25px;
margin-bottom: 15px;	
}

#airplaneform, #airplaneform2 {
font-family: "futura_ltcondensedbold";
font-size: 4.5em;
line-height: 1em;
text-align: right;
width: 1em;
background: #EADDCD;
color: #17888D;
padding: 20px;
border: 0;
    -webkit-border-radius: 20px;
    border-radius: 20px; 
	outline: none;
	height: 1em;
	float: left;
	margin-right: 2.5%;
}


#upanddownbuttons5, #upanddownbuttons52 {
	margin-top: 1em;
	float: left;
margin-right: 1.875%;
}


#buttonup5, #buttonup52 {
	margin-top: .035em;
margin-bottom: .875em;
font-family: 'icomoon';
font-size: 3.25em;
color: #16888D;
display: inline-block;
}

#buttondown5, #buttondown52 {
font-family: 'icomoon';
font-size: 3.25em;	
color: #16888D;
}

#buttonup5:hover, #buttonup52:hover {
-webkit-transition: color .25s;
cursor: pointer;
color: #BDE3E0;
}

#buttondown5:hover, #buttondown52:hover {
-webkit-transition: color .25s;	
cursor: pointer;
color: #BDE3E0;
}


#bedrooms5, #bedrooms52 {
text-align: left;	
}

#airplaneleft5 #bedrooms5, #airplaneleft5 #bedrooms52 {
margin-top: 1.5em;
}



#bedrooms5 a, #bedrooms52 a  {
text-decoration: none;
color: #BCE3DF;
opacity: 1;
line-height: 1.5em;
font-size: 1.2em;
}

.airplaneopacity {
opacity: .25;
}

#rightsideairplaneicon, #leftsideairplaneicon {
-webkit-transition: opacity .25s;
transition: opacity .25s;
}





















#page6contents {
width: 37.86%;
position: fixed;	
left: 30.57%;
}
#page6contents .bigquestion {
margin-bottom: 40px;	
}
.page6icons div:nth-child(1), .page6icons div:nth-child(2), .page6icons div:nth-child(3) {
width: 31.33%;
height: 80px;
float: left;
margin-right: 3%;
-webkit-border-radius: 20px;
}



.page6icons div {
background: #D7C4AE;	
background: #EADDCD;
-webkit-transition: opacity .25s;
transition: opacity .25s;
margin-bottom: 40px;
text-align: center;
font-family: "futura_ltbold";
color: #002733;
}

.page6icons div:hover {
opacity: .25;
cursor: pointer;
}

.page6questions {
	color: #17888D;
font-size: 1.25em;
font-family: "futura_ltbold";	
width: 100%;
margin-bottom: 15px;
}

.page6icons p {
margin-top: 29px;	
}



#page6icons1 div:nth-child(4) {
margin-right: 0;
}
#page6icons2 div:nth-child(3) {
margin-right: 0;
}
#page6icons3 div:nth-child(3) {
margin-right: 0;
}
#page6icons4 div:nth-child(3) {
margin-right: 0;
}

#page6icons1 div:nth-child(1), #page6icons1 div:nth-child(2), #page6icons1 div:nth-child(3), #page6icons1 div:nth-child(4) {
	width: 22.75%;
}



#page6icons1 div:nth-child(4) {
	float:left;
	height: 80px;
float: left;
-webkit-border-radius: 20px;
}







#page0contents {
position: fixed;
left: 22.5%;
left: 23.25%;

width: 55%;
}
#canvas3wrapper, #canvas2wrapper, #canvas1wrapper {
float: left;	
}
#canvas2wrapper {
	background: #ECDFD0;
padding-right: 30px;
padding-left: 30px;
padding-top: 30px;
padding-bottom: 30px;
margin-right: 50px;
margin-left: 50px;
}
#canvas1wrapper, #canvas3wrapper {
margin-top: 30px;	
}
#generatednumber {
position: relative;
top: -160px;
color: #002733;
font-size: 4em;
font-family: "futura_ltbold";	
width: 50%;
margin-left: 25%;
text-align: center;
-webkit-animation: fadein 1s;
animation: fadein 1s;
}
#usnumber, #worldnumber {
position: relative;
top: -160px;
color: #17888D;
font-size: 4em;
font-family: "futura_ltbold";	
width: 50%;
margin-left: 25%;
text-align: center;
-webkit-animation: fadein 1s;
animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#usaverage, #youaverage, #worldaverage {
color: #17888D;
font-size: 1.5em;
font-family: "futura_ltbold";	
margin-bottom: 15px;
}
#youaverage {
color: #002733;
}
#resultskey {
	font-family: "futura_ltbold";
	margin-bottom: 5px;
}
#resultskeybuttons div {
width: 35px;
height: 35px;
margin-right: 15px;
float: left;
}
#resultskeybuttons div:nth-child(1) {
background: #CD4A45;
}
#resultskeybuttons div:nth-child(2) {
background: #F4A844;
}
#resultskeybuttons div:nth-child(3) {
background: #6BAB79;
}
#resultskeybuttons div:nth-child(4) {
background: #17888D;
margin-right: 95px;
}
#resultskeybuttons {
margin-bottom: 55px;	
}
#surroundsallkey {
margin-top: -20px;	
}
#resultskeybuttons div:hover {
opacity: .25;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}
#resultsbuttonsubheads {
margin-top: -10px;	
}
#resultsbuttonsubheads div {
		font-family: "futura_ltbook";
	display: none;
	color: #002733;
}
#footprintinfo {
padding-top: 10px;
width: 290px;
color: #002733;
font-family: "futura_ltbook";	
}







/*PROGRESS BAR*/

#questionnumber {
position: fixed;
margin-top: 40px;
left: 2.5%;
width:12.5%;
text-align: center;
color: #17888D;
font-family: "futura_ltbold";
font-size: 1.25em;
margin-bottom: 25px;
}

#currentquestionnumber {
	display:inline;
}

#progressbar {
left: 2.5%;
width: 12.5%;
height: 25px;
background: #17888D;	
position: fixed;
margin-top: 5px;
}

#miniprogress {
height: 25px;
width: 0%;
background: #BCE3DF;	
}






/*BUTTON*/
#buttonleft {
position: fixed;
width: 5.125%;
width: 100px;

left: 2.5%;
left: 42%;
bottom: 5%;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}

#buttonleftbackground {
position: fixed;
width: 5.12%;
width: 100px;

left: 2.5%;
left: 42%;
bottom: 5%;
}

#buttonright {
position: fixed;
width: 5.125%;
width: 100px;

right: 2.5%;
right: 42%;
bottom: 5%;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}

#buttonrightbackground {
position: fixed;
width: 5.12%;
width: 100px;

right: 2.5%;
right: 42%;
bottom: 5%;
}

#buttonright:hover {
opacity: 0;
-webkit-transition: opacity .25s;
transition: opacity .25s;
cursor:pointer;
}

#buttonleft:hover {
opacity: 0;
-webkit-transition: opacity .25s;
transition: opacity .25s;
cursor: pointer;
}



.navigationopacity {
	-webkit-animation: moveflash 1.25s infinite ease-in-out;
	animation: moveflash 1.25s infinite ease-in-out;
}

@-webkit-keyframes moveflash
{
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}


@keyframes moveflash
{
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}



#buttonhome {
position: fixed;
width: 5.12%;
right: 2.5%;
right: 42%;
bottom: 5%;
-webkit-transition: opacity .25s;
transition: opacity .25s;
}

#buttonhomebackground {
position: fixed;
width: 5.12%;
right: 2.5%;
right: 42%;
bottom: 5%;
}

#buttonhome:hover {
opacity: 0;
-webkit-transition: opacity .25s;
transition: opacity .25s;
cursor:pointer;
}







/*WAVE*/

#wave {
	height: 10em;
	width: 100%;
	background-image:url('../img/wave.png');
    background-repeat:repeat-x;
	-webkit-animation-name: WAVE-MOVE;
	-webkit-animation-duration: 300s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);


background-size: 10em;

margin-bottom: -1.5em;

}

#wave2 {
	height: 10em;
	width: 100%;
	background-image:url('../img/wave2.png');
    background-repeat:repeat-x;
	-webkit-animation-name: WAVE-MOVE;
	-webkit-animation-duration: 600s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
	transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);

background-size: 10em;
margin-top: -2.5em;

margin-bottom: -7em;

}



@-webkit-keyframes WAVE-MOVE {
	from {
		background-position: -5%;
	}
	to { 
		background-position: -600%;
	}
}

@-webkit-keyframes WAVE-MOVE {
	from {
		background-position: -5%;
	}
	to { 
		background-position: -1300%;
	}
}























/*FONTS*/
@font-face {
    font-family: 'futura_ltbold';
    src: url('../fonts/futura_lt_bold.eot');
    src: url('../fonts/futura_lt_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_lt_bold.woff') format('woff'),
         url('../fonts/futura_lt_bold.ttf') format('truetype'),
         url('../fonts/futura_lt_bold.svg#futura_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltcondensedbold';
    src: url('../fonts/futura_condensed_bold-webfont.eot');
    src: url('../fonts/futura_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/futura_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/futura_condensed_bold-webfont.svg#futura_ltcondensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ltbook';
    src: url('../fonts/futura_book-webfont.eot');
    src: url('../fonts/futura_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_book-webfont.woff') format('woff'),
         url('../fonts/futura_book-webfont.ttf') format('truetype'),
         url('../fonts/futura_book-webfont.svg#futura_ltbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.woff') format('woff'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


